<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="SourcePath" value="c:\" />
    <add key="Filter" value="1.txt" />
    <add key="SourcePathDll" value="d:\" />
    <add key="FilterDll" value="2.txt" />
    <add key="DestinationPath" value="c:\zzz\" />
    <add key="DestinationPathDll" value="c:\zzz\" />
    <add key="TimeInterval_ms" value="1000" />

  </appSettings>
</configuration>

