<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="SourcePath" value="d:\testSync\" />
    <add key="Filter" value="*.*" />
    <add key="SourcePathDll" value="d:\testSync\dll\" />
    <add key="FilterDll" value="*.txt|*.ctv" />
    <add key="DestinationPath" value="c:\zzz\" />
    <add key="DestinationPathDll" value="c:\zzz\" />
    <add key="TimeInterval_ms" value="1000" />

  </appSettings>
</configuration>
